{% extends "layout.html" %}
{% block title %}课表导出 - EveryClass @ CSU{% endblock %}
{% block body %}
    <h1 class="rte-heading text-center">导出课表到日历</h1>
    <div class="row">
        <div class="rte col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
            <h4 class="p1">你的 ics 文件地址{{ student_id }}.ics</h4>
            <p class="p1"><span class="s1"><b>EveryClass 是什么？<br></b></span>EveryClass 是中南大学的学生 Frederic 开发的一个小项目，它可以生成日历交换格式(.ics)文件，从而可以把你的课表导入到手机、电脑的日历，让课程和你其他的日历事项在同一处展示，从而便于日程的安排。它还能查询和你上同一节课的同学名单，你更可以查询他们每个人的课表。
            </p>
        </div>
    </div>
{% endblock %}